.bGround{
    background-image: url(./../images/contact-heading.jpg);
    background-size: cover;
    padding: 9em 0em;
    width: 100%;
}
h4.center {
    text-align: center;
    color: #f33f3f;
}
h1.center {
    text-align: center;
    color:aliceblue;
    font-size: 4em;
}
iframe.frame {
    width: 35rem;
    height: 100%;
}
.ppfont{
    font-size: 0.9em;
}
ul.mt-4 {
    margin-left: -2em;
    width: 18em;
}
button.filled-button {
    background-color: #f33f3f;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
    border: none;
    outline: none;
    cursor: pointer;
}
button.filled-button:hover{
    background-color: black;
}

.accordion {
    width: 35em;
    margin-left: 2em;
}
.item {
    background: #f0ebe1;
    margin-bottom: 0.5em;
    cursor: pointer;
    padding: 10px 6px;
    transition: all 0.5s;
}
.title{
    cursor: pointer;
    font-size: 17px;
    color: #1a6692!important;
    margin-bottom: 20px;
    transition: all .3s;
    display: flex;
    justify-content: space-between;
    padding: 0.2em 0.5em;
}
.title.show{
    color: #f33f3f!important;
}
.title:hover{
    
    color: #f33f3f!important;
}
.title:active{
    color: #f33f3f!important;
}
.content {
   max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
}
.content.show{
    height: auto;
    max-height: 999;
    transition: all 0.5s cubic-bezier(1,0,1,0);
}
span.spanfont {
    font-size: 1.3em;
}