
.row.container-fluid.backgro {
    background: #eee;
    padding: 0.5em 0em;
    position: fixed;
    margin-bottom: 0em;
    z-index: 1;
    width: 100%;
}
span.clothb {
    font-size: 1.6em;
    margin-left: 1em;
    font-weight: 600;
    margin-top: 0.3em;
    display: inline-block;
}
span.clothr {
    font-size: 1.6em;
    margin-left: 0.3em;
    font-weight: 600;
    color: #f33f3f;
    margin-top: 0.3em;
    display: inline-block;
}
.container-fluid.backgro {
    background: #eee;
    position: fixed;
    padding: 0.5em 0em;
    z-index: 1;
    height: 70px;
}
li.nav-item.marginRight {
    margin-right: 0.1em;
}


.nav-item:hover{
    border-bottom: 4px solid #f33f3f;
    transition: all 0.2s;
}
.active{
   color :#f39d75 !important;
}

button.nav-btn{
    height: 1em;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(27, 26, 26);
    visibility: hidden;
    opacity: 0;
    font-size: 2em;
    width: 0;
}
.col.d-flex.marginnav {
    justify-content: end;
   
}
a.nav-link.navcacrt {
    padding: 1.2em 3em;
    margin-left: -4em;
    height: 1em;
}
li.nav-item {
    padding: 0em 0.5em;
}
ul.navbar-nav.d-flex.mb-2.mb-lg-0 {
    display: flex;
    flex-direction: row;
    padding: 1em;
   
}


@media only screen and (max-width:968px){
    button.nav-btn{
        visibility: visible;
        opacity: 1;
    }
  
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: right;
        gap: 1.5rem;
        background-color: #eee;
        transition: 1s;
        transform:  translateY(-100vh);
    }


    nav.responsive-nav {
        transform: translateY(10vh);
    }
    ul.navbar-nav.d-flex.mb-2.mb-lg-0 {
        display: flex;
        flex-direction: column;
        padding: 1em;
       
    }
    button.nav-btn{
        width: 70px;
    }
}